{% macro show_issue_meta(icon, class=None, sm=False, tooltip=None) %}
    <li class="list-inline-item small me-{% if sm %}3{% else %}4{% endif %}{% if class %} {{ class }}{% endif %}"{% if tooltip %} data-bs-toggle="tooltip" data-bs-title="{{ tooltip }}"{% endif %}>
        <i class="{{ icon }} pe-1"></i>
        {{ caller() }}
    </li>
{% endmacro %}

{% if sm %}{% set list_me = 2 %}
{% else %}{% set list_me = 4 %}{% endif %}

  <div class="issue-container card shadow mb-3" data-id="{{ issue.jira_id }}" style="border-top: 4px solid {{ status_colors[issue.status]|default('gray') }}">
    <div class="card-body">
        {% if issue.is_new %}
            <div class="float-end">
                <i class="fas fa-certificate text-warning" data-bs-toggle="tooltip" data-bs-title="New issue"></i>
            </div>
        {% endif %}
        {{ issue.summary }}
    </div><!-- .card-body -->
    <div class="card-footer small text-muted">
        <div class="row mb-0">
            <div class="col-10">
                <ul class="list-inline list-unstyled mb-0">
                    {% call show_issue_meta(2, sm=sm, tooltip="Jira Issue ID") %}
                      <a href="https://{{ config['JIRA_SUBDOMAIN'] }}.atlassian.net/browse/{{ issue.id }}" target="_blank">
                        {{ issue.id }}
                      </a>
                    {% endcall %}
                    {% if 'show_assignee' in display_flags and not sm %}
                        {% call show_issue_meta("fas fa-user-ninja", sm=sm, tooltip="Current Assignee") %}
                            {{ issue.assignee }}
                        {% endcall %}
                    {% endif %}
                    {% if 'show_status' in display_flags %}
                        {% call show_issue_meta("far fa-bell", sm=sm, tooltip="Issue Status") %}
                            {{ issue.status }}
                        {% endcall %}
                    {% endif %}
                    {% if not sm %}
                      {% if 'show_project' in display_flags %}
                          {% call show_issue_meta("fas fa-bookmark", sm=sm, tooltip="Jira Project") %}
                            {{ issue.project }}
                          {% endcall %}
                      {% endif %}
                      {% if 'show_reporter' in display_flags %}
                          {% call show_issue_meta("fas fa-user", sm=sm, tooltip="Reporter") %}
                              {{ issue.reporter }}
                          {% endcall %}
                      {% endif %}
                      {% if 'show_priority' in display_flags %}
                          {% if issue.priority_slug in priority_colors %}
                            {% set class_name="text-" + priority_colors[issue.priority_slug] %}
                          {% else %}{% set class_name = None %}
                          {% endif %}
                          {% call show_issue_meta("fas fa-exclamation-triangle", sm=sm, class=class_name, tooltip="Priority") %}
                              {{ issue.priority }}
                          {% endcall %}
                      {% endif %}
                    {% endif %}
                  </ul><!-- ul -->
            </div><!-- .col -->
            <div class="col-2 text-end">
                <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="hide" data-bs-toggle="tooltip" data-bs-title="{% if hidden %}Show{% else %}Hide{% endif %} this issue">
                            <i class="{% if hidden %}far fa-eye{% else %}fas fa-eye-slash{% endif %}"></i>
                        </a>
                    </li>
                    {% if not sm %}
                    <li class="list-inline-item">
                        <a href="#" class="move-to-bottom" data-bs-toggle="tooltip" data-bs-title="Move to bottom">
                            <i class="fas fa-angle-double-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="move-to-top" data-bs-toggle="tooltip" data-bs-title="Move to top">
                            <i class="fas fa-angle-double-up"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- .card-footer -->
  </div><!-- .card -->
