{% macro show_issue_meta(type) %}
    {% set slug = issue.get_slug(type) %}
    {% set color = display.get_color(type, slug) %}
    {% set icon = display.get_icon(type, slug) %}
    {% set tooltip = display.get_name(type) %}
    {%- if display.show_type(type) and (not sm or display.show_in_small(type)) -%}
    <li class="list-inline-item small me-{% if sm %}3{% else %}4{% endif %}{% if color %} text-{{ color }}{% endif %}"{% if tooltip %} data-bs-toggle="tooltip" data-bs-title="{{ tooltip }}"{% endif %}>
        {% if icon %}<i class="{{ icon }} pe-1"></i>{% endif %}
        {{ caller() }}
    </li>
    {%- endif -%}
{% endmacro %}

  <div class="issue-container card shadow mb-3 border-top border-{{ display.get_color('status', issue.get_slug('status')) }}" data-id="{{ issue.jira_id }}" style="border-top-width: 4px !important">
    <div class="card-body">
        {% if issue.is_new %}
            <div class="float-end new-issue" data-bs-toggle="tooltip" data-bs-title="New issue">
                <i class="fas fa-certificate text-warning"></i>
            </div>
        {% endif %}
        {{ issue.summary }}
    </div><!-- .card-body -->
    <div class="card-footer small text-muted">
        <div class="row mb-0">
            <div class="col-10">
                <ul class="list-inline list-unstyled mb-0">
                    {% call show_issue_meta('issue_id') %}
                      <a href="https://{{ config['JIRA_SUBDOMAIN'] }}.atlassian.net/browse/{{ issue.id }}" target="_blank">
                        {{ issue.id }}
                      </a>
                    {% endcall %}
                    {% call show_issue_meta("issue_type") %}{{ issue.issue_type }}{% endcall %}
                    {% call show_issue_meta('assignee') %}
                        {%  if issue.assignee %}{{ issue.assignee }}{% else %}Unassigned{% endif %}
                    {% endcall %}
                    {% call show_issue_meta('status') %}{{ issue.status }}{% endcall %}
                    {% call show_issue_meta('project') %}{{ issue.project }}{% endcall %}
                    {% call show_issue_meta('reporter') %}{{ issue.reporter }}{% endcall %}
                    {% call show_issue_meta('priority') %}{{ issue.priority }}{% endcall %}
                    {% if issue.fix_versions|length %}{% call show_issue_meta('version') %}
                        {{ issue.fix_versions | join(', ') }}
                    {% endcall %}{% endif %}
                    {% if issue.labels|length %}{% call show_issue_meta('labels') %}
                        {{ issue.labels | join(', ') }}
                    {% endcall %}{% endif %}
                    {% if issue.parent %}{% call show_issue_meta('parent') %}
                        {{ issue.parent.summary }}
                    {% endcall %}{% endif %}
                  </ul><!-- ul -->
            </div><!-- .col -->
            <div class="col-2 text-end">
                <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="hide" data-bs-toggle="tooltip" data-bs-title="{% if hidden %}Show{% else %}Hide{% endif %} this issue">
                            <i class="{% if hidden %}far fa-eye{% else %}fas fa-eye-slash{% endif %}"></i>
                        </a>
                    </li>
                    {% if not sm and view["allow_sorting"]|default(True) %}
                    <li class="list-inline-item">
                        <a href="#" class="move-to-bottom" data-bs-toggle="tooltip" data-bs-title="Move to bottom">
                            <i class="fas fa-angle-double-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="move-to-top" data-bs-toggle="tooltip" data-bs-title="Move to top">
                            <i class="fas fa-angle-double-up"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- .card-footer -->
  </div><!-- .card -->
