<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jira Organizer</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}{% endblock %}
  </head>
  <body class="bg-light">
    <div id="saving-indicator" class="position-absolute top-0 start-50 text-success" style="display: none">
        Saving... <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div class="container">
      <div class="row py-5 align-items-center">
        <div class="col-12 col-xxl-6 mb-3 mb-xxl-0">
          <h1>Jira Organizer <i class="fab fa-jira ps-2 text-primary"></i></h1>
        </div>
        <div class="col-12 col-xxl-6 text-xxl-end">
          {% set btn_classes = "btn btn-sm btn-primary" %}
          <ul class="list-unstyled list-inline mb-0">
            {% if config.ISSUE_VIEWS|length > 1 %}
            <li class="list-inline-item">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if view_name %}{{ config.ISSUE_VIEWS[view_name].title }}
                        {% else %}Change View{% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        {% for view_key, view in config.ISSUE_VIEWS.items() %}
                        <li>
                            <a href="{{ request.path }}?view={{ view_key }}" class="dropdown-item{% if view_name == view_key %} active{% endif %}">
                                {{ view.title|default(view_key, True) }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endif %}
            {% if request.path == '/' %}
            <li class="list-inline-item">
                <div id="refresh-btn-group" class="btn-group">
                    <div class="{{ btn_classes }} refresh-all">
                        Refresh Issues
                    </div>
                </div>
            </li>
            {% endif %}
            {% if request.path != '/' %}
            <li class="list-inline-item">
              <a href="/" class="{{ btn_classes }}">
                  Issues
              </a>
            </li>
            {% endif %}
            {% if request.path != '/export' %}
            <li class="list-inline-item">
              <a href="/export" class="{{ btn_classes }}">
                Export Issues
              </a>
            </li>
            {% endif %}
            <li class="list-inline-item">
              <a href="https://{{ jira_subdomain }}.atlassian.net/jira/your-work" class="{{ btn_classes }}" target="_blank">
                Your Work on Jira
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- .container -->
    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div><!-- .row -->
    </div><!-- .container -->
    <footer class="container my-5 py-5 border-top text-center text-muted small">
      Made with <i class="fas fa-heart text-danger"></i> by <a href="https://loganbibby.com">Logan</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
        function initLocalBs() {
            // Bootstrap Tooltips
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }

        initLocalBs();

        let savingIndicator = $("#saving-indicator");
        function showSavingIndicator(){
            savingIndicator.show();
        }
        function hideSavingIndicator(){
            savingIndicator.hide();
        }
    </script>
    {% block body_end %}{% endblock %}
  </body>
</html>
