{% extends '_framework.html' %}

{% block content %}
    <div class="col-12 col-lg-8">
        <div class="mb-3 text-muted small" style="display: none">
            You have <span id="issues-main-count"></span> main issues. There are <span id="issues-count"></span> total issues for this view.
        </div>
        <div id="issues-container-main" class="issues-container" data-column="main">
            <div class="loading-icon my-4 text-center">
                <i class="fas fa-sync fa-spin fa-3x"></i>
            </div>
        </div><!-- #issues-container-main -->
    </div><!-- .col -->
    <div class="col-12 col-lg-4 small">
        <div class="mb-3 text-muted text-center" style="display: none">
            You have <span id="issues-hidden-count"></span> hidden issues.
            <a href="#" id="show-hidden-link">
                <span id="show-hidden-show">Show</span>
                <span id="show-hidden-hide" style="display: none">Hide</span>
            </a>
        </div>
        <div id="issues-container-hidden" class="issues-container" data-column="hidden" style="display:none">
          <div class="loading-icon my-4 text-center">
              <i class="fas fa-sync fa-spin fa-2x"></i>
          </div>
        </div><!-- issues-container-hidden -->
        <div class="mb-3 text-muted text-center" style="display: none">
            You have <span id="issues-other-count"></span> other issues.
        </div>
        <div id="issues-container-other" class="issues-container" data-column="other">
          <div class="loading-icon my-4 text-center">
              <i class="fas fa-sync fa-spin fa-2x"></i>
          </div>
        </div><!-- issues-container-other -->
    </div><!-- .col -->
{% endblock %}

{% block body_end %}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        let viewName = "{{ view_name }}";
        let issuesContainer = $("#issues-container-main");
        let hiddenContainer = $("#issues-container-hidden");

        function updateOrder() {
            let issues = [];
            $(".issue-container").each(function(i){
                issues.push($(this).attr("data-id"));
            });

            showSavingIndicator();

            $.ajax({
                url: "/api/update_order",
                method: "POST",
                data: JSON.stringify({
                    view_name: viewName,
                    issues: issues
                }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                success: function(data) {
                    console.log(data);
                    hideSavingIndicator();
                }
            });
        }

        function loadIssues(elem, column) {
            let loadingIcon = elem.find(".loading-icon");

            loadingIcon.show();
            elem.find(".issue-container").remove();

            $.ajax({
               url: "/api/issues",
               data: {
                   view: viewName,
                   column: column,
                   format: "html"
               },
               success: function(data){
                   loadingIcon.hide();
                   elem.append(data.results.join(""));
                   updateCounter(data.column);
                   initLocalBs();
               }
           });
        }

        function updateTotalCounter() {
            $("#issues-count").text(
                $(".issue-container").length
            );
        }

        function updateCounter(col) {
            let container = $("#issues-container-" + col);
            let countText = $("#issues-" + col + "-count");

            if ( container === null ) { return; }

            let count = container.find(".issue-container").length;

            if ( count ) {
                countText.text(count);
                countText.parent().show();
            } else {
                countText.parent().hide();
            }

            updateTotalCounter();
        }

        function refreshIssues(){
            $.ajax({
                url: "/api/issues/invalidate",
                data: {
                    view: viewName
                },
                success: function(){
                    $(".issues-container").each(function(){
                        let issueContainer = $(this);
                        loadIssues(
                            issueContainer,
                            $(this).attr("data-column"),
                            true
                        );
                    });
                }
            });
        }

        issuesContainer.sortable({
            cursor: "move",
            containment: "parent",
            update: function(){
                updateOrder();
            }
        });

        $("#show-hidden-link").click(function(){
            hiddenContainer.toggle();
            $("#show-hidden-hide").toggle();
            $("#show-hidden-show").toggle();
        });

        $("body")
            .on("click", ".hide", function(){
                let issue = $(this).closest(".issue-container");
                showSavingIndicator();
                $.ajax({
                    url: "/api/hide/" + issue.attr("data-id"),
                    data: JSON.stringify({view_name: "{{ view_name }}"}),
                    headers: {
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    method: "POST",
                    success: function(data) {
                        if ( data.hidden ) {
                            issue.appendTo(hiddenContainer);
                        } else {
                            issue.appendTo(issuesContainer);
                        }
                        hideSavingIndicator();
                        updateCounter("hidden");
                    }
                });
            })
            .on("click", ".move-to-bottom", function(){
                $(this).closest(".issue-container").appendTo(issuesContainer);
                updateOrder();
            })
            .on("click", ".move-to-top", function(){
                $(this).closest(".issue-container").prependTo(issuesContainer);
                updateOrder();
            });

        $(".refresh-all").click(function(){
            refreshIssues();
        });

        $(document).ready(function(){
            $(".issues-container").each(function(){
                let issueContainer = $(this);
                loadIssues(
                    issueContainer,
                    $(this).attr("data-column")
                );
            });

            // auto-refresh
            setInterval(refreshIssues, 60000);
        });
    </script>
{% endblock %}
