{% extends '_framework.html' %}

{% macro show_issue(issue, sm=False) %}
  {% if sm %}
    {% set list_me = 2 %}
  {% else %}
    {% set list_me = 4 %}
  {% endif %}
  <div class="issue-container card shadow mb-3" data-id="{{ issue.jira_id }}" style="border-top: 4px solid {{ statuses[issue.status].color|default('gray') }}">
    <div class="card-body">
      {{ issue.summary }}
    </div><!-- .card-body -->
    <div class="card-footer small text-muted">
        <div class="row mb-0">
            <div class="col-10">
                <ul class="list-unstyled list-inline mb-0">
        <li class="list-inline-item me-{{ list_me }}">
          <a href="https://{{ jira_subdomain }}.atlassian.net/browse/{{ issue.id }}" target="_blank">
            {{ issue.id }}
          </a>
        </li>
        {% if 'show_assignee' in issue_display and not sm %}
        <li class="list-inline-item me-{{ list_me }}">
          <i class="fas fa-user-ninja pe-1"></i>
          {{ issue.assignee }}
        </li>
        {% endif %}
        {% if 'show_status' in issue_display %}
        <li class="list-inline-item me-{{ list_me }}">
          <i class="far fa-bell pe-1"></i>
          {{ issue.status }}
        </li>
        {% endif %}
        {% if not sm %}
          {% if 'show_project' in issue_display %}
          <li class="list-inline-item me-{{ list_me }}">
            <i class="fas fa-bookmark pe-1"></i>
            {{ issue.project }}
          </li>
          {% endif %}
          {% if 'show_reporter' in issue_display %}
          <li class="list-inline-item me-{{ list_me }}">
            <i class="fas fa-user pe-1"></i>
            {{ issue.reporter }}
          </li>
          {% endif %}
        {% endif %}
      </ul>
            </div>
            <div class="col-2 text-end">
                {% if not sm %}
                <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="move-to-bottom">
                            <i class="fas fa-angle-double-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="move-to-top">
                            <i class="fas fa-angle-double-up"></i>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div><!-- .card-footer -->
  </div><!-- .card -->
{% endmacro %}

{% block content %}
    <div class="col-12 col-lg-8">
      <div id="issues-container">
        {% for issue in columns['main'] %}{{ show_issue(issue) }}{% endfor %}
      </div><!-- #issues-container -->
      <div class="my-4 small text-muted text-center">
        {{ columns['main']|count }} issues in this column
      </div>
    </div><!-- .col -->
    {% if columns['other']|count %}
    <div class="col-12 col-lg-4 small">
      {% for issue in columns['other'] %}{{ show_issue(issue, sm=True) }}{% endfor %}
      <div class="my-4 text-muted text-center">
        {{ columns['other']|count }} issues in this column
      </div>
    </div><!-- .col -->
    {% endif %}
{% endblock %}

{% block body_end %}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
        function updateOrder() {
            let issues = [];
            $(".issue-container").each(function(i){
                issues.push($(this).attr("data-id"));
            });

            $.ajax({
                url: "/api/update_order",
                method: "POST",
                data: JSON.stringify({
                    issues:issues
                }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                success: function(data) {
                    console.log(data);
                }
            });
        }

        let issuesContainer = $("#issues-container");

        issuesContainer.sortable({
            cursor: "move",
            containment: "parent",
            update: function(){
                updateOrder();
            }
        });

        $(".move-to-bottom").click(function(){
            $(this).closest(".issue-container").appendTo(issuesContainer);
            updateOrder();
        });

        $(".move-to-top").click(function(){
            $(this).closest(".issue-container").prependTo(issuesContainer);
            updateOrder();
        });
    });
    </script>
{% endblock %}
