{% extends '_framework.html' %}

{% macro show_issue_meta(icon, class=None, sm=False, tooltip=None) %}
    <li class="list-inline-item small me-{% if sm %}3{% else %}4{% endif %}{% if class %} {{ class }}{% endif %}"{% if tooltip %} data-bs-toggle="tooltip" data-bs-title="{{ tooltip }}"{% endif %}>
        <i class="{{ icon }} pe-1"></i>
        {{ caller() }}
    </li>
{% endmacro %}

{% macro show_issue(issue, sm=False, hidden=False) %}
  {% if sm %}
    {% set list_me = 2 %}
  {% else %}
    {% set list_me = 4 %}
  {% endif %}
  <div class="issue-container card shadow mb-3" data-id="{{ issue.jira_id }}" style="border-top: 4px solid {{ statuses[issue.status].color|default('gray') }}">
    <div class="card-body">
      {{ issue.summary }}
    </div><!-- .card-body -->
    <div class="card-footer small text-muted">
        <div class="row mb-0">
            <div class="col-10">
                <ul class="list-inline list-unstyled mb-0">
                    {% call show_issue_meta(2, sm=sm, tooltip="Jira Issue ID") %}
                      <a href="https://{{ jira_subdomain }}.atlassian.net/browse/{{ issue.id }}" target="_blank">
                        {{ issue.id }}
                      </a>
                    {% endcall %}
                    {% if 'show_assignee' in issue_display and not sm %}
                        {% call show_issue_meta("fas fa-user-ninja", sm=sm, tooltip="Current Assignee") %}
                            {{ issue.assignee }}
                        {% endcall %}
                    {% endif %}
                    {% if 'show_status' in issue_display %}
                        {% call show_issue_meta("far fa-bell", sm=sm, tooltip="Issue Status") %}
                            {{ issue.status }}
                        {% endcall %}
                    {% endif %}
                    {% if not sm %}
                      {% if 'show_project' in issue_display %}
                          {% call show_issue_meta("fas fa-bookmark", sm=sm, tooltip="Jira Project") %}
                            {{ issue.project }}
                          {% endcall %}
                      {% endif %}
                      {% if 'show_reporter' in issue_display %}
                          {% call show_issue_meta("fas fa-user", sm=sm, tooltip="Reporter") %}
                              {{ issue.reporter }}
                          {% endcall %}
                      {% endif %}
                      {% if 'show_priority' in g.conf.issue_display %}
                          {% if issue.priority_slug in g.conf.priority_colors %}
                            {% set class_name="text-" + g.conf.priority_colors[issue.priority_slug] %}
                          {% else %}{% set class_name = None %}
                          {% endif %}
                          {% call show_issue_meta("fas fa-exclamation-triangle", sm=sm, class=class_name, tooltip="Priority") %}
                              {{ issue.priority }}
                          {% endcall %}
                      {% endif %}
                    {% endif %}
                  </ul><!-- ul -->
            </div><!-- .col -->
            <div class="col-2 text-end">
                <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#" class="hide" data-bs-toggle="tooltip" data-bs-title="{% if hidden %}Show{% else %}Hide{% endif %} this issue">
                            <i class="{% if hidden %}far fa-eye{% else %}fas fa-eye-slash{% endif %}"></i>
                        </a>
                    </li>
                    {% if not sm %}
                    <li class="list-inline-item">
                        <a href="#" class="move-to-bottom" data-bs-toggle="tooltip" data-bs-title="Move to bottom">
                            <i class="fas fa-angle-double-down"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="move-to-top" data-bs-toggle="tooltip" data-bs-title="Move to top">
                            <i class="fas fa-angle-double-up"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!-- .card-footer -->
  </div><!-- .card -->
{% endmacro %}

{% block content %}
    <div class="col-12 col-lg-8">
      <div id="issues-container">
        {% for issue in columns['main'] %}{{ show_issue(issue) }}{% endfor %}
      </div><!-- #issues-container -->
    </div><!-- .col -->
    <div class="col-12 col-lg-4 small">
        {% if columns['hidden']|count %}
        <div class="mb-3 text-muted hidden-issues-count text-center">
            {% set count = columns['hidden']|count %}
            You have {{ count }} hidden issue{% if count > 1 %}s{% endif %}.
            <a href="#" id="show-hidden" data-prev="Hide?">Show?</a>
        </div>
        <div id="hidden-issues-container" style="display: none">
            {% for issue in columns['hidden'] %}{{ show_issue(issue, sm=True, hidden=True) }}{% endfor %}
        </div>
        {% endif %}
        {% if columns['other']|count %}
        <div class="mb-3 text-muted other-issues-count text-center">
            {% set count = columns['other']|count %}
            You have {{ count }} other issue{% if count > 1 %}s{% endif %}.
        </div>
        <div id="other-issues-container">
            {% for issue in columns['other'] %}{{ show_issue(issue, sm=True) }}{% endfor %}
        </div>
        {% endif %}
    </div><!-- .col -->
{% endblock %}

{% block body_end %}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
        function updateOrder() {
            let issues = [];
            $(".issue-container").each(function(i){
                issues.push($(this).attr("data-id"));
            });

            showSavingIndicator();

            $.ajax({
                url: "/api/update_order",
                method: "POST",
                data: JSON.stringify({
                    view_name: "{{ view_name }}",
                    issues: issues
                }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                success: function(data) {
                    console.log(data);
                    hideSavingIndicator();
                }
            });
        }

        let issuesContainer = $("#issues-container");
        let hiddenContainer = $("#hidden-issues-container");

        issuesContainer.sortable({
            cursor: "move",
            containment: "parent",
            update: function(){
                updateOrder();
            }
        });

        $(".move-to-bottom").click(function(){
            $(this).closest(".issue-container").appendTo(issuesContainer);
            updateOrder();
        });

        $(".move-to-top").click(function(){
            $(this).closest(".issue-container").prependTo(issuesContainer);
            updateOrder();
        });

        $("#show-hidden").click(function(){
            $("#hidden-issues-container").toggle();
            let prevText = $(this).attr("data-prev");
            $(this).attr("data-prev", $(this).text());
            $(this).text(prevText);
        });

        $(".hide").click(function(){
            let issue = $(this).closest(".issue-container");
            showSavingIndicator();
            $.ajax({
                url: "/api/hide/" + issue.attr("data-id"),
                data: JSON.stringify({view_name: "{{ view_name }}"}),
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                method: "POST",
                success: function(data) {
                    if ( data.hidden ) {
                        issue.appendTo(hiddenContainer);
                    } else {
                        issue.appendTo(issuesContainer);
                    }
                    hideSavingIndicator();
                }
            });
        });
    });
    </script>
{% endblock %}
